@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    line-height: 1.6; /* Okunabilirlik için varsayılan satır yüksekliği */
  }
  body {
    margin: 0; /* Varsayılan marginleri sıfırlama */
  }
}

@layer components {
  .placeholder-capitalize-first::placeholder {
    text-transform: lowercase; /* Tüm placeholder metnini küçük harfe çevir */
  }

  .placeholder-capitalize-first::placeholder:first-letter {
    text-transform: uppercase; /* İlk harfi büyük yap */
  }
}


